@model OnlineCarParking.Entity.CarParkingBooking
@{
    ViewBag.Title = "DataPassing";
}
    <h2>View</h2>
<table border="1">
    <tr>
        <td>Package Name</td>
        <td>Package Price</td>
    </tr>
    @foreach (OnlineCarParking.Entity.CarParkingBooking item in (List<OnlineCarParking.Entity.CarParkingBooking>)ViewData["carparkingBookings"])
    {
        <tr>
            <td>
                @item.carId
            </td>
            <td>
                @item.carParkingSiteName
            </td>
        </tr>
        <tr>
            <td>
                @item.carParkingSiteLocation
            </td>
            <td>
                @item.parkingSlots
            </td>
        </tr>
    }
</table>


