
@{
    ViewBag.Title = "TempDataChecking";
}

<h2>TempDataChecking</h2>
<h3>CarParkingBooking-TempData</h3>
<table border="1">
    <tr>
        <td>carId</td>
        <td>carParkingSiteName</td>
        <td>carParkingSiteLocation</td>
        <td>parkingSlots </td>
    </tr>
    @foreach (OnlineCarParking.Entity.CarParkingBooking item in (List<OnlineCarParking.Entity.CarParkingBooking>)TempData["carparkingBookings"])
    {
        <tr>
            <td>
                @item.carId
            </td>
            <td>
                @item.carParkingSiteName
            </td>
        </tr>
        <tr>
            <td>
                @item.carParkingSiteLocation
            </td>
            <td>
                @item.parkingSlots
            </td>
        </tr>
    }
</table>

